// Colors 
$color-primary: #F99D27;
$color-secondary: #00ADCC;
$color-red: #CE1D60;
$color-green: #99CA44;
$color-text: #161616;
$color-grey: #ECECEC;

// Typography
$font-heading: 'Source Sans', sans-serif;
$font-body: 'Source Sans', sans-serif;

$font-heading-weight: 800;

// Basic
$grid-container-width: 1300px;

$border-radius-primary: 8px;