// Colors

$primary:     #00adcc !default;
$secondary:     #99ca44 !default;
$darkgrey: #252525 !default;
$jumbo: #7f8084;
$bombay: #afb2b7;
$iron: #d6d9db;
$maroonflush: #ce1d60;
$mainOrange: #f99d27;

// Basic variables

$container_width: 1000px;