@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,900');
@import '../abstracts/variables';

body {
    font-family: sans-serif;
} 

h1 {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 3px;
}